
<footer>
    <main>
  <div>
    <h1>Resources</h1>
    <span>IOS & Android</span>
    <span>Watch a Demo</span>
    <span>Customers</span>
    <span>API</span>
  </div>
  <div>
    <h1>Company info</h1>
    <span>About Us</span>
    <span>Carrier</span>
    <span>We are hiring</span>
    <span>Blog</span>
  </div>
  <div>
    <h1>Features</h1>
    <span>Business Marketing</span>
    <span>User Analytic</span>
    <span>Live Chat</span>
    <span>Unlimited Support</span>
    </div>
</main>
</footer>
  
