header {
  background-color: black;
  color: white;
  margin-bottom: 40px;
  a {
    color: white;
    text-decoration: none;
  }
}

.headerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  max-width: 1200px;
  height: 76px;
  margin: 0 auto;
  width: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ContainerProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 550px;
  width: 350px;
  box-shadow: 10px 10px 10px #ccc;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  > img {
    width: 100%;
    max-width:100%;
    height: 300px;
    object-fit: contain;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #efefef;
    border-radius: 30px;
  }

}

.descriptionOfProduct {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: auto;
    align-items: center;
    width: 100%;

    > span {
        color: var(--disabled-element-text-color, #8EC2F2);
        cursor: pointer;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 171.429% */
        letter-spacing: 0.2px;
    }
}

.ContainerProduct:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 10px #ccc;
}

button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

nav {
  display: flex;
  gap: 25px;
  justify-content: space-around;
  align-items: center;
}

nav span,
nav button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #888;
  margin: 0 10px;
  cursor: pointer;
}

nav button {
  border: none;
  background: transparent;
  padding: 0;
}

nav span:hover,
nav button:hover {
  color: #fff;
}

.paginationMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.filter-dropdown {
  display: none;
}

@media only screen and (max-width: 768px) {
  .filter-options {
    display: none;
  }

  .filter-dropdown {
    display: block;
  }

  .filter-dropdown .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .filter-dropdown:hover .dropdown-content {

    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 5px;
    padding: 10px;
  }

  .filter-dropdown button {
    display: block;
    width: 100%;
    text-align: left;
  }
}
