 <header>
  <div class="headerInfo">
    <h1><a href="/">Fashion</a></h1>
    <nav>
      <div class="filter-options">
        <button (click)="filterProducts('')">All products</button>
        <button (click)="filterProducts('men\'s clothing')">Men's clothing</button>
        <button (click)="filterProducts('women\'s clothing')">Women's clothing</button>
        <button (click)="filterProducts('electronics')">Electronics</button>
        <button (click)="filterProducts('jewelery')">Jewelry</button>
      </div>
      <div class="filter-dropdown" [class.open]="isFilterDropdownOpen">
        <button (click)="toggleFilterDropdown()">Filter</button>
        <div class="dropdown-content">
          <button (click)="filterProducts('')">All products</button>
          <button (click)="filterProducts('men\'s clothing')">Men's clothing</button>
          <button (click)="filterProducts('women\'s clothing')">Women's clothing</button>
          <button (click)="filterProducts('electronics')">Electronics</button>
          <button (click)="filterProducts('jewelery')">Jewelry</button>
        </div>
      </div>
    </nav>
  </div>
</header>




<main>
  <div class="ContainerProduct" *ngFor="let product of filteredProducts" (click)="goToProductDetail(product.id)">
    <img [src]="product.image" alt="Product Image" />
    <div class="descriptionOfProduct">
    <h3>{{ product.title }}</h3>
    <p>{{ product.description | truncateDescription: 50 }}</p>
    <h2>{{ product.price | priceFormat }}</h2>
  </div>
  <div class="category">
    <span>{{product.category}}</span>
  </div>
  </div>
  
</main>
