<header>
  <div class="headerInfo">
    <h1><a href="/">Fashion</a></h1>
    <nav>
      <button routerLink="/products">Products</button>
    </nav>
  </div>
</header>

<div class="background">
  <img src="../../assets/freestocks-_3Q3tsJ01nc-unsplash.jpg" alt="Modelo">
</div>
<main>
  <div>
    <h1>
      ELEVATE YOUR LOOK WITH OUR COLLECTION
    </h1>
    <p>
      FASHION FINDS AWAIT YOU
    </p>
    <button routerLink="/products">
      Get Products
    </button>
  </div>
  
</main>

<h2>Companies that trust :</h2>

<div class="logos">
  
  <img src="../../assets/pngwing.com (1).png" alt="">
  <img src="../../assets/pngwing.com (2).png" alt="">
  <img src="../../assets/pngwing.com (3).png" alt="">
  <img src="../../assets/pngwing.com (4).png" alt="">
  
</div>
